mixin button(label, variant, href, disabled)
  if href
    a(class=`nj-button ${variant} ${disabled ? 'disabled' : ''}`, href=href)
      span #{label}
  else
    button(class=`nj-button ${variant}` disabled=disabled)
      span #{label}
